<h1><%= @reference.name %></h1>

<p><%= link_to "Edit", edit_reference_path(@reference), remote: true %></p>
<p><%= link_to "Delete", reference_path(@reference),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"}, remote: true %></p>

<%= link_to "Return to references", references_path %>
