<div class ="container">
<h1>David Garber</h1> <hr>

<p>
  Having seen the power of data play such an important role in President Obama's reelection victory in 2012, I realized that code is the future. Paired programming at Epicodus not only taught me to code, but has taught me how to discuss my code with team members. With my education in Ruby, Javascript and Rails, I am open to both front-end and back-end programming opportunities.
</p>
<hr>
<p>
  Here is my contact info:
</p>
<p>
  p: (310) 429 - 6205
</p>
<p>
  e: davidgarber@gmail.com
</p>
<p>
  l: www.linkedin.com/in/davidjonathangarber
</p>
<p>
  g: https://github.com/davidgarber
</p>
<hr>
<p>
  The following are the categories of coding languages I have learned:
</p>


<h1>Categories</h1> <hr>


<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>

  <%= link_to "Add a new category", new_category_path, :class => "btn btn-success btn-sm"  %>


<h1>References</h1> <hr>
<div class="references" id="references">

<%= link_to "Click for references", references_path, class: "references_link", remote: true  %>


</div>
</div>
