<h1>References</h1>

<ul>
  <% @references.each do |reference| %>
    <li><%= link_to reference.name, reference_path(reference) %> p: <%= reference.phone %></li>
  <% end %>
</ul>

<% if current_user.admin === true %>
<h1>Admin</h1>

<hr>

<%= link_to "Add a new reference", new_reference_path, class: "new_link", remote: true %>
<hr>

<%= link_to "Edit Users", users_path %>
<% end %>
</div>
