<h1><%= @reference.name %></h1>

<p><%= link_to "Edit", edit_list_path(@reference) %></p>
<p><%= link_to "Delete", list_path(@reference),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<%= link_to "Return to references", references_path %>
